# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#user specific CMake related files
/RtypeClient/CMakeFiles
/RtypeClient/cmake_install.cmake
/RtypeClient/Makefile
