# user backups or automatic saves
*~
\#*\#

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#user specific CMake related files :
/RtypeClient/CMakeFiles
/RtypeClient/cmake_install.cmake*
/RtypeClient/Makefile
/RtypeClient/CMakeCache.txt*
/RtypeClient/bin

#user specific visual studio 2012 files :
/RtypeClient/Debug
/RtypeClient/Release
/RtypeClient/Win32
*.vcxproj*
*.v11*
*.opensdf*
*.sdf*
*.dir
*.sln